<div class="jumbotron">
  <h1>Lafortune Pierre</h1>
  <p class="lead">
    <img src="images/POLYTECH%20NICE-SOPHIA.jpg" alt="Polytech Nice-Sophia"><br>
    Étudiant de 3ème année en Science Informatique
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>About</h4>
  <p>
    Une petite description de moi.
  </p>

  <h4>Contact</h4>
  <p>
    Les informations nécessaires pour me contacter.
  </p>

  <h4>CV</h4>
  <p>Les informations concernant ma carrière. Tels que mes projets et expérience proféssionnelle.</p>
</div>
